body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

#MainAxis{
    display: flex;
    flex-direction: row;
    background: black;
    border-radius: 10px;
}
.cpu-cores-grid{
    display: grid;
    grid-auto-flow: column; /* preenche verticalmente primeiro */
    grid-template-rows: repeat(6, 100px); /* 6 linhas fixas */
    gap: 10px;
    text-align: center;
    padding: 20px;
}
.cpu-usage-div{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 215px;
}
.cpu-usage-div > span{
    width: 1px;
    height: 100%;
    margin-right: 2px;
}
/* Caixa de informações da CPU */
.cpu-info-box{
    display: flex;
    flex-direction: row;
    margin: 20px;
    border: solid white 2px;
    width: 100%;
}
.cpu-info-box p{
    margin: 10px 10px;
}
/* Memorias */
#mem-usage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.mem-total-title{
    text-align: center;
    margin-bottom: 0px;
}
.mem-title{
    text-align: center;
    margin-top: 0px;
    font-size: 130%;
}
.mem-bar{
    display: flex;
    flex-direction: row;
    margin: 2vh 30px;
}
.mem-line{
    width: 3px;
    height: 50px;
    margin-right: 3px;
    background-color: black;
}
#mem-column{
    display: flex;
    flex-direction: column;
    align-items: left;
}
#mem-labels{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}
.label{
    display: flex;
    align-items: center;
    width: 100%;
}
.label-text{
    margin: 0px;
}
/* Bolinhas */
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
#uso{
    background-color: #7d33ff;
}
#cache{
    background-color: #ff751f;
}
#buffers{
    background-color: #ff66c4;
}
#livre{
    background-color: #9e9e9e;
}
#mem-grid{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    width: 50%;
}
.mem-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
}
.coluna-vertical{
    background-color: white;
    width: 100%;
    height: 2px;
}
.grid-text{
    margin: 0px;
    width: 22%;
    text-align: center;
}
.coluna-horizontal{
    background-color: white;
    width: 2px;
    align-self: stretch;
}
/* Coisas de disco */
#bottom-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}
#disks{
    margin: 3vh 0;
}
.disk-block{
    display: flex;
    flex-direction: row;
}
.disk-title{
    font-size: 120%;
    margin: 2px 0;
}
.disk-bar{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: white;
    width: 15px;
    height: 150px;
    margin: 0 10px;
}
.disk-bar-fill{
    display: block;
    background-color: #38b6ff;
    height: 50%;
    width: 100%;
}
.disk-text{
    margin: 2px 0;
}
/* Coisas de rede */
#network-block{
    display: flex;
    flex-direction: row;
    margin: 3vh 0;
}
#ping{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}
#ping-bar{
    background-color: green;
    width: 10px;
    height: 100px;
}
.ping-text{
    margin: 10px 0;
}
#network-info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.network-info-text{
    margin: 2px 0;
}